/* font-family: 'Barlow', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */
body {
  background: rgb(243, 239, 239);
}
h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  color: black;
  font-family: "Poppins", serif;
  font-weight: normal;
}
